.HOME-PAGE-pre {
  background-color: #ffffff;
  width: 80%;
  margin-left: 10%;
}

.group1 {

}

.mainImage {
  max-width: 100%;
  height: auto;
}


.heading1 {
  color: #424242;
  font-family: var(--headline-font-family);
  font-size: var(--headline-font-size);
  font-style: var(--headline-font-style);
  font-weight: var(--headline-font-weight);
  letter-spacing: var(--headline-letter-spacing);
  line-height: var(--headline-line-height);
  width: 700px;
}

.heading2 {
  color: #424242;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  width: 525px;
}

.mainPara{
  color: #424242;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  font-weight: var(--body-font-weight);
  letter-spacing: var(--body-letter-spacing);
  line-height: var(--body-line-height);
  text-align: justify;
}


 .group2 {
  height: 125px;
}


.group2-subHeading {
  color: #424242;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.buttons {
  all: unset;
  align-items: center;
  background-color: #c5bd99;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 46px;
  justify-content: space-around;
  overflow: hidden;
  width: 200px;
  
}

.buttonText {
  color: var(--primeralywhite);
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 38px;
  letter-spacing: 0.5px;
  line-height: 38.4px;
  margin: auto;
  /* padding: auto; */
  /* text-align: center; */
  text-decoration: underline;
  white-space: nowrap;
  /* width: 105px; */
}

.buttonsSmall {
  all: unset;
  align-items: center;
  background-color: #c5bd99;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 46px;
  justify-content: space-around;
  overflow: hidden;
  width: 200px;
  
}

.buttonTextSmall {
  color: var(--primeralywhite);
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
}

 .line {
  height: 1px;
  margin-top: 3%;
}

.group3 {
  height: 153px;
  margin-top: 3%;
}

.text-wrapper-5 {
  color: #424242;
  font-family: var(--headline-font-family);
  font-size: var(--headline-font-size);
  font-style: var(--headline-font-style);
  font-weight: var(--headline-font-weight);
  letter-spacing: var(--headline-letter-spacing);
  line-height: var(--headline-line-height);
  white-space: nowrap;
}

.text-wrapper-6 {
  color: #424242;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  white-space: nowrap;
}

.buttons:hover, .buttonsSmall:hover {
  /* width: 210px;  */
  /* height: 53px; */
  transform: scale(1.1);
  transition: width 0.3s ease; /* Adjust the transition duration and easing function as needed */
}

.buttonText ,.buttonTextSmall{
  transition: margin 0.3s ease; /* Add transition for margin change on hover */
}

.buttons:hover .buttonText {
  margin: auto; /* Center the text horizontally when the button is hovered */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

.buttonsSmall:hover .buttonTextSmall {
  transform: scale(1.1);
  margin: auto; /* Center the text horizontally when the button is hovered */
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}
