#ifcCanvas {
  width: 70%;
  height: 70vh; /* Set height to 50% of viewport height */
}

#gui-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  padding-right: 0;
}

#comment {
  /* position: relative;
    top: 150px;*/
  margin-left: 5%;
  width: 30%;
  /* background-color: red; */
}

#content {
  width: 80%;
  margin-left: 10%;
  /* background-color: blue; */
  margin-top: 2%;
  margin-bottom: 2%;
}

#gui-container li {
  margin: 0;
  color: #eee;
  font-size: 12px;
}

#gui-container .title {
  font-size: 18px;
  text-align: center;
}

#footer {
  position: absolute;
  background-color: red;
  bottom: 0;
  width: 100%;
}

#comment {
  height:90vh;
}

.feedbacks {
  height:30vh;
  overflow-y: scroll;
  border: 1px solid black ;
  border-radius: 5px;
}
