/* .container .header {
    position: relative;
    top: 0;
    margin-left: -15%;
}
/* .container {
    position: relative;
} */
/* .container {
    position: fixed;
    top: 100px;
    left: 10%;
    bottom: 10%;
    /* background-color: red; 

} 
*/

#ifcCanvas {
    width: 60%;
    height: 70vh; /* Set height to 50% of viewport height */
    position: relative;
    top: 150px;
    margin-left: 5%;
    /* background-color: blue; */
} 

#gui-container {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;
    padding-right: 0;
  }

  /* #commenter {
    width: 400px;
    top: 200%;
    margin-right: 0;
    margin-top: 150px;
  } */

  .d-flex{
    /* margin-top: 5%; */
  }
  #comment {
    position: relative;
    top: 150px;
    margin-left: 2%;
    width: 400px;
  }

